/******************RESET**********************/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*******************FORMULAIRE***************/
button.btn.btn-outline-dark {
    margin-left: 500px;
}